/* *{
    margin: 0px;
    padding: 0px;
} */


/* .topnav{
   

}

.logo{
    background-color: aqua;
    height: 94px;
    width: 94px;
    
}

.list__menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;            
    margin: 0; 
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__banner {
    position: inherit;
    background-color: blue;
    height: 1058px;
    width: 100%;


}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #33333381;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0px;

    padding-left: 20.5%;

    z-index: 2;

}

.logo img {
    background-color: #575757;
    width: 94px;
    height: 94px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin-left: 5%;

}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #5757572f;
    border-radius: 5px;
}

.nav-end {
    display: flex;
    align-items: center;
    margin-left: 33%;
    gap: 15px;
}

.nav-end .login {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-end .login:hover {
    background-color: #575757;
    border-radius: 5px;
}

.nav-end .iconLogin img {
    background-color: #333;
    width: 48px;
    height: 48px;

}


.container__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 1224px;
    height: 488px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.text__container__info {
    width: 40%;
    padding-left: 50px;
}

.text__container__info h1 {
    margin-top: 77px;
    font-size: 34px;
}

.text__container__info p {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 8%;
    text-align: justify;

}

.video__container__info {


    width: 50%;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__container__info video {
    width: 100%;

}

.news__updates {}

.news__container {
    display: flex;
    position: relative;
    background-color: #f4f4f4;
    height: 674px;
}

.news__container h1 {
    padding-top: 4%;
    padding-left: 20%;
    font-size: 34px;

}

.newsletter {
    display: flex;
    width: 100%;
    height: 378px;
    background-color: rgb(101, 153, 199);
}

.newsletter__container {
    display: inline-block;
    height: 378px;
    background-color: #6e6e6e;
    width: 30%;
    margin-left: 50%;
}

.newsletter__container h1 {
    padding-top: 25%;
    padding-left: 5px;
}

.banner__contact {
    
    width: 100%;
    height: 208px;
    background-color: bisque;
    position: relative;
}

.banner__contact__text {
    font-size: 24px;
    margin-left: 18%;
    padding-top: 3%;

}

.banner__contact__image {
    height: 258px;
    width: 258px;
    background-color: yellowgreen;
    bottom: 0;
    position: absolute;
    z-index: 2;
    margin-left: 60%;


}

.button__contact {
    height: 54px;
    width: 204;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    background-color: #333;
    margin-left: 18%;
    color: #f4f4f4;
    cursor: pointer;
    font-size: 24px;

}

footer {
    width: 100%;
    height: 404px;
    background-color: #333;

}

.footer__access {
    display: inline-block;
    width: 100%;
    height: 30%;
    background-color: aquamarine;


}

#footer_1 {
    padding-top: 2%;
    padding-left: 18%;
}

.social__Icon #1 {
    width: 38px;
    height: 38px;
    background-color: red;
}

.footer__icons {
    margin-left: 18%;
    justify-content: space-between;
    gap: 10px;
}